<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/a.css">
</head>
<body>
    <nav class="navbar bg-gray-200 h-12 shadow-md">
        <div class="container-fluid  ">
          <img class="w-10 h-10 rounded-full object-cover" src="https://images.pexels.com/photos/1382732/pexels-photo-1382732.jpeg?cs=srgb&dl=pexels-soldiervip-1382732.jpg&fm=jpg" alt="">
          <h1 class="absolute left-12 top-1 text-orange-300 ">welcome,back</h1>
       <h2 class="absolute left-16 top-5 text-blue-700"><i>Appointment</i></h2>
     </div>
</nav>  
<div class=" flex items-center justify-center mt-3">
<div class="box  border-2 rounded-lg  w-[80%] items-center shadow-md justify-center">  
<div class="containor flex items-center justify-center ">
    <ul class="shadow-md rounded-full flex justify-center space-x-10 w-[50%] mt-4 ml-5 bg-blue-300 ">
        <li class="font-semibold transform-a"><a href="">Past</a></li>
        <li class="font-semibold transform-a"><a href="">Upcoming</a></li>
        <li class="font-semibold transform-a"><a href="">Cancelled</a></li>

       
    </ul>

</div>

<div class="flex justify-center items-center">

    
<div class="shadow-md border-2 mt-1 w-[70%]  rounded-lg">
  
    <a href="" class="no-underline">
    <ul class="items-center justify-center shadow-md  transform-chat">
        <li class="flex items-center">
          <img  class="rounded-full w-10 h-10" src="https://images.pexels.com/photos/1382732/pexels-photo-1382732.jpeg?cs=srgb&dl=pexels-soldiervip-1382732.jpg&fm=jpg" alt="">
               
          <span class="ml-2">Dr.Campan Stack</span>
         <li class="text-gray-400 ">I am cardio patient.I need your help</li>
         </li>
    </ul>
    </a>
    <br\>   

    <a href="" class="no-underline mt-1">
        <ul class="items-center justify-center shadow-md transform-chat mt-3">
            <li class="flex items-center">
              <img  class="rounded-full w-10 h-10" src="https://images.pexels.com/photos/1382732/pexels-photo-1382732.jpeg?cs=srgb&dl=pexels-soldiervip-1382732.jpg&fm=jpg" alt="">
                   
              <span class="ml-2">Dr.Campan Stack</span>
             <li class="text-gray-400 ">I am cardio patient.I need your help</li>
             </li>
        </ul>
        </a>
        <a href="" class="no-underline mt-1">
            <ul class="items-center justify-center shadow-md transform-chat mt-3">
                <li class="flex items-center">
                  <img  class="rounded-full w-10 h-10" src="https://images.pexels.com/photos/1382732/pexels-photo-1382732.jpeg?cs=srgb&dl=pexels-soldiervip-1382732.jpg&fm=jpg" alt="">
                       
                  <span class="ml-2">Dr.Campan Stack</span>
                 <li class="text-gray-400 ">I am cardio patient.I need your help</li>
                 </li>
            </ul>
            </a>
            <a href="" class="no-underline mt-1">
                <ul class="items-center justify-center shadow-md transform-chat mt-3">
                    <li class="flex items-center">
                      <img  class="rounded-full w-10 h-10" src="https://images.pexels.com/photos/1382732/pexels-photo-1382732.jpeg?cs=srgb&dl=pexels-soldiervip-1382732.jpg&fm=jpg" alt="">
                           
                      <span class="ml-2">Dr.Campan Stack</span>
                     <li class="text-gray-400 ">I am cardio patient.I need your help</li>
                     </li>
                </ul>
                </a>

                <a href="" class="no-underline mt-1">
                    <ul class="items-center justify-center shadow-md transform-chat mt-3">
                        <li class="flex items-center">
                          <img  class="rounded-full w-10 h-10" src="https://images.pexels.com/photos/1382732/pexels-photo-1382732.jpeg?cs=srgb&dl=pexels-soldiervip-1382732.jpg&fm=jpg" alt="">
                               
                          <span class="ml-2">Dr.Campan Stack</span>
                         <li class="text-gray-400 ">I am cardio patient.I need your help</li>
                         </li>
                    </ul>
                    </a>
                    <a href="" class="no-underline mt-1">
                        <ul class="items-center justify-center shadow-md transform-chat mt-3">
                            <li class="flex items-center">
                              <img  class="rounded-full w-10 h-10" src="https://images.pexels.com/photos/1382732/pexels-photo-1382732.jpeg?cs=srgb&dl=pexels-soldiervip-1382732.jpg&fm=jpg" alt="">
                                   
                              <span class="ml-2">Dr.Campan Stack</span>
                             <li class="text-gray-400 ">I am cardio patient.I need your help</li>
                             </li>
                        </ul>
                        </a>
    </div>
    
    </div>

</div>
</div>

</body>
</html>