<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/s.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-full  border-2 rounded ">
        <h1 class="text-white" style="color: aliceblue;margin: 13px;" >Doctor data</h1>
        <form action="/create" method="post" style="margin: 16px;">
            <input class="px-4 py-2 border-2 border-size-800 rounded" type="text" name="name"  placeholder="name">
           <br> <br><input class="px-4 py-2 border-2 border-size-800 rounded" type="text" name="title"  placeholder="title">
           <br> <br>  <input class="px-4 py-2 border-2 border-size-800 rounded" type="text" name="image"  placeholder="image"> <br><br>
           <!-- <input class="px-4 py-2 border-2 border-size-800 rounded" type="number" name="price" placeholder="Price" > -->
           <br><br> <input  class="rounded-lg text-xl  border-2 border-size-800 text-zinc-300 bg-blue-900"  type="submit" name="" id="" value="Create">

        </form>
    </div>
</body>
</html>